# Environment Variables - SI Parkir Kelompok 4
# Rename file ini menjadi .env di VPS

# =====================
# DATABASE MYSQL
# =====================
DB_ROOT_PASSWORD=rootVPS2024!
DB_NAME=si_parkir
DB_USER=kelompok4
DB_PASSWORD=kelompok4

# =====================
# YOLO & KAMERA
# =====================
YOLO_MODEL_PATH=model_yolo/best_yolov5.pt
DETECTION_INTERVAL=0.3
CAMERA_INDEX=1
CAMERA_BUFFER_SIZE=1
SKIP_FRAMES=2
MAX_FRAME_WIDTH=640
CONFIDENCE_THRESHOLD=0.8

# =====================
# JWT AUTH
# =====================
SECRET_KEY=secretkey123456789
ALGORITHM=HS256

# =====================
# GRAFANA MONITORING
# =====================
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin123
